<div class="container">
    <form role="form">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <label for="username" class="control-label">Username</label>
                <input class="form-control" ng-model="username" type="text" id="username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <label for="password" class="control-label">Password</label>
                <input class="form-control" ng-model="password" type="password" id="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <label for="email" class="control-label">Email</label>
                <input class="form-control" ng-model="email" type="email" id="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
                <label class="control-label" for="butt"></label>
                <button class="btn btn-primary" id="butt" ng-click="register()" type="button">Register</button>
            </div>
        </div>
    </form>
</div>